html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --section-vertical-padding: 3rem;
  --section-horizontal-padding: 1.5rem;
}

.radio > input[type='radio'] {
  margin-right: 10px;
}

label.radio {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.control > .radio + .radio {
  margin-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
